@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&family=Raleway:wght@100;200;300&display=swap');

@font-face {
    font-family: 'TheScientist';
    src: url('fonts/TheScientist.ttf') format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url('fonts/DancingScript.ttf') format('truetype');
}

.material-icons {
    font-size: 12px;
}

/*
 * Libraries        ----------------------------------------------------------------------------------------------------
 */
img.emoji {
    /* Since we are using SVGs, you have to change the width using CSS */
    width: 1.5em;
    margin-bottom: -7.5px;

    /*
  This is to make the emojis feel like actual emojis to
  the user and they won't act like images. This makes the emojis
  non-reactive to any mouse events such as dragging,
  hovering, clicking etc. Makes it feel like its actual text.
  */
    pointer-events: none;
}

/*
 * General          ----------------------------------------------------------------------------------------------------
 */
:root {
    --primary: #0B0C0D;
    --secondary: #111315;
    --accent: #181A1B;
    --primary-color: #A8B4BD;
    --secondary-color: #6D7C84;
    --link-color: #A8B4BD;
    --link-color-hover: #D0D8DD;
    --background-color: #FAF7F0;
    /* Very light background for contrast */
}

html,
body {
    width: 100%;
    margin: 0;
    color: var(--primary-color);
    background: -o-linear-gradient(60deg, var(--secondary) 0%, var(--accent) 100%);
    background: linear-gradient(30deg, var(--secondary) 0%, var(--accent) 100%);
    font-family: Raleway;
    font-size: 18px;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a svg:hover,
nav li:hover {
    color: var(--link-color-hover);
}

img {
    pointer-events: none;
}

hr {
    width: 50%;
    margin: auto;
    border: 1px solid var(--accent);
    border-radius: 5px;
    height: 1px;
    background: var(--accent);
}

header,
section {
    height: 100vh;
    scroll-snap-align: start;
}

section {
    padding: 5% 7.5%;
    min-height: 100vh;
    /* Ensure it takes at least the full viewport height */
    overflow: auto;
    /* Allows scrolling if content overflows */
}

section h3 {
    font-family: Raleway;
    font-size: 3.5em;
    text-align: right;
    letter-spacing: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

/*
 * Nav / Menu             ----------------------------------------------------------------------------------------------
*/
nav {
    position: fixed;
    top: 5vh;
    left: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 100px 0px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    list-style: none;
    font-size: 28px;
    opacity: 0.75;
    letter-spacing: 5px;
    z-index: 9999;
}

#navLinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.smallMenu {
    background: var(--primary);
    padding: 20px 0;
    top: 0;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.smallMenu #navLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#menuIcon {
    display: none;
    margin-right: 10px;
}

.material-icons-round {
    font-size: 40px;
}

/*
 * Header           ----------------------------------------------------------------------------------------------------
*/

header {
    background: var(--primary);
    background: -o-linear-gradient(45deg, var(--secondary) 25%, var(--accent) 100%);
    background: linear-gradient(45deg, var(--secondary) 25%, var(--accent) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

header h2 {
    color: var(--secondary-color);
}

header #headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

header #headerAvatar {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 7.5px solid var(--accent);
    background-color: #313b3d;
    background-image: url("./svg/photo_2022-04-25_08-17-06.jpg");
    background-size: 300px 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.links {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.links svg {
    width: 50px;
}

/*links
 *  About           ----------------------------------------------------------------------------------------------------
 */
#about {
    height: auto;
}

#infoContainer {
    width: 75%;
    margin: auto;
}

.infoList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}


.infoList div {}

.infoList h2,
.infoList p {
    margin: 0;
}

.infoList h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.infoList p {
    font-size: 22px;
    margin-top: 10px;
}

.infoList a {
    color: white;
}

.infoList a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.infoItem {
    padding: 15px;
    min-width: 50%;
}

#hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.hobbyLike {
    background-color: rgba(255, 107, 107, 0.1);
    border: 1px solid rgba(255, 107, 107, 0.3);
    color: #ff6b6b;
}

.hobbyLike:hover {
    background-color: rgba(255, 107, 107, 0.2);
}

.hobbyWork {
    background-color: rgba(104, 225, 167, 0.1);
    border: 1px solid rgba(104, 225, 167, 0.3);
    color: #68e1a7;
}

.hobbyWork:hover {
    background-color: rgba(104, 225, 167, 0.2);
}

.hobbyFreetime {
    background-color: rgba(67, 124, 224, 0.1);
    border: 1px solid rgba(67, 124, 224, 0.3);
    color: #437ce0;
}

.hobbyFreetime:hover {
    background-color: rgba(67, 124, 224, 0.2);
}

.hobbyCulture {
    background-color: rgba(229, 159, 48, 0.1);
    border: 1px solid rgba(229, 159, 48, 0.3);
    color: #e59f30;
}

.hobbyCulture:hover {
    background-color: rgba(229, 159, 48, 0.2);
}

.hobbyOther {
    background-color: rgba(163, 48, 229, 0.1);
    border: 1px solid rgba(163, 48, 229, 0.3);
    color: #a330e5;
}

.hobbyOther:hover {
    background-color: rgba(163, 48, 229, 0.2);
}

.hobby img.emoji {
    height: 18px;
    margin-bottom: -2.5px;
}

/*
 *  Projects        ----------------------------------------------------------------------------------------------------
 */

#portfolio h4 {
    font-size: 2em;
}

#portfolio .projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

#portfolio .projectItem {
    padding: 15px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#portfolio .projectItem:hover {
    background-color: var(--accent);
}

#portfolio .projectIcon {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background-color: var(--primary);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid var(--accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 75px;
}

#portfolio .projectItem h1 {
    color: white;
}

#portfolio .projectItem h1 {
    color: var(--link-color-hover);
    text-decoration: underline;
}


#portfolio #soloProjectList .projectIcon {
    background-size: 175px 175px, 250px 250px;
}

.disabled {
    opacity: .35;
    pointer-events: none;
}

.disabled h1 {
    color: inherit;
    text-decoration: none;
}



/*
 *  Skills          ----------------------------------------------------------------------------------------------------
 */

#skills {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills h3 {
    font-size: 2.5em;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    /* Makes the box round */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100px;
    height: 100px;
}

.skillItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.skillItem img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.skillItem div {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}


/*
 * Footer           ----------------------------------------------------------------------------------------------------
*/
footer {
    padding: 50px 5%;
    background: var(--accent);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.footerRow {
    width: 100%;
    max-width: 1350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#bottomFooter {
    color: var(--primary-color);
    font-size: 14px;
}

#footerCredits {
    font-size: 12px;
}

#signature {
    font-family: 'THESCIENTIST';
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    color: white;
}

footer .links {
    margin-top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .links svg {
    padding: 0 15px;
    color: white;
}

footer .links svg:hover {
    color: var(--link-color-hover);
}

/*----------------------------------------------------------------------------------------------------
 * Mobile
----------------------------------------------------------------------------------------------------*/

/*-------------------*/
@media only screen and (max-width: 1500px) {
    .mobileMenu {
        background: var(--primary);
        -webkit-box-shadow: 2px 2px 5px var(--accent);
        box-shadow: 2px 2px 5px var(--accent);
        opacity: .9;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 0px;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .mobileMenu #menuIcon:first-child {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    #navLinks {
        width: auto;
        display: none;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navLink {
        margin-top: 5px
    }

    #menuIcon {
        display: inline;
    }

    #skills .skillSectionTitle {
        line-height: 50px;
        text-align: center;
    }

    #skillListLanguages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    #skillListLanguages .skillListItem {
        width: 100%;
    }

    #skillListProgramming .skillListCategory {
        width: 100%;
    }

    #skillListProgramming #skillListContainer {
        width: 100%;
    }

    #skillListProgramming #skillListContainer .skillListCategory {
        margin-top: 25px;
    }
}

/*-------------------*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    section h3 {
        font-size: 3em;
    }
}

/*-------------------*/
@media only screen and (max-width: 950px) {

    #portfolio {
        height: auto;
    }

    section h3 {
        font-size: 2.5em;
        text-align: center;
    }

    #infoContainer {
        width: 100%;
    }

    .infoList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    #hobbies {
        width: 100%;
    }

    .projectList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .skillSectionTitle {
        font-size: 24px;
    }

    #readMore hr {
        width: 20%;
    }

    footer {
        height: auto;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .footerRow {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    footer .links {
        width: 80%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    footer .links svg {
        width: 50px;
    }

    #footerCopyright {
        margin: 10px 0;
    }
}

/*-------------------*/
@media (orientation: landscape) and (max-width: 850px) {}

/*-------------------*/
@media only screen and (max-width: 580px) {
    section h3 {
        font-size: 2.25em;
    }
}

/*-------------------*/
@media only screen and (max-width: 500px) {}

/*-------------------*/
@media only screen and (max-width: 480px) {
    #signature {
        margin-bottom: 40px;
    }
}

/*-------------------*/
@media only screen and (max-width: 360px) {}

/*-------------------*/
@media only screen and (max-width: 320px) {
    header h1 {
        font-size: 1.25em;
    }

    header h2 {
        font-size: .75em;
    }

    header h3 {
        font-size: .75em;
    }

    #headerLinks {
        width: 75%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        margin: auto;
    }

    #headerLinks svg {
        width: 30px;
    }

    header #headerAvatar {
        width: 150px;
        height: 150px;
        background-size: 165px 165px;
    }

    .skillList {
        width: 80%;
        margin: auto;
    }

    #skillListProgramming .skillListCategory {
        width: 80%;
    }

    .skillListCategory h4 {
        font-size: 1.5em;
    }
}


.projectHeader h1 {
    font-size: 4em;
    letter-spacing: 10px;
    margin-bottom: 0;
}

header #headerProjectLogo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7.5px solid var(--accent);
    background-repeat: no-repeat;
}

.projectCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.projectList {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 20px;
}

.projectItem {
    margin-bottom: 1.5em;
}

.projectCategory h4 {
    font-size: 2em;
    margin: 2.5em 0 1em;
}

.projectItem h4 {
    font-size: 1.5em;
    margin: 1.5em 0 0.5em;
}

#project .appIcon {
    height: 40px;
    margin-bottom: -10px;
    border-radius: 10px;
}

#projectViewToggler {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#projectViewToggler a {
    display: block;
    width: 100%;
    padding: 1.5em;
    font-size: 2em;
    height: 100%;
    border-radius: 0 0 5px 5px;
}

#activeProject {
    border-top: 2px solid var(--primary-color);
}

#inactiveProject {
    background: #060606;
}

#projectViewToggler #inactiveProject:nth-child(2) {
    animation: glow .75s 2 alternate ease-out;
}

@keyframes glow {
    to {
        color: white;
        box-shadow: 0 0px 10px rgb(191, 243, 255);
    }
}

#inactiveProject:hover {
    background: #313b3d;
}

#groupProjects {
    display: none;
}

.projectItem ul {
    margin: 5px;
    list-style-type: circle;
}

.projectItem li {
    padding: 5px;
}

.projectItem hr {
    margin: 100px auto;
}

.projectPreviewTitle {
    font-size: 1.25em !important;
}

.projectTech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.projectTech svg {
    width: 50px;
    padding: 10px;
}

.projectTech svg:hover {
    color: var(--link-color-hover);
}


.projectPreviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

.projectPreviews img,
.projectPreviews video {
    width: 100%;
    max-width: 25.5%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.projectItem .modelsPrev {
    margin-bottom: 25px;
}

.modelsPrev video,
.modelsPrev img {
    width: 45%;
    border-radius: 5px;
}

.modelsPrev video {
    margin-bottom: 25px;
}

.drawingPrev p {
    width: 45%;
}

.projectPreview {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectPreview img {
    border-radius: 5px;
    height: auto;
    width: auto;
    max-width: 100%;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    /* Key change for aspect ratio */
}

#gamePlayDemo {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.projectPreviewDesc {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.drawingPrev img {
    width: 75%;
}

#mockups img {
    width: 80%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .projectHeader h1 {
        font-size: 3em;
    }

    header #headerProjectLogo {
        width: 200px;
        height: 200px;
    }

    .projectCategory {
        width: 90%;
    }

    .projectCategory h4 {
        font-size: 1.5em;
    }

    .projectItem h4 {
        font-size: 1.2em;
    }

    #projectViewToggler a {
        font-size: 1.5em;
        padding: 1em;
    }

    .projectTech svg {
        width: 40px;
        padding: 5px;
    }

    .projectPreviews img,
    .projectPreviews video {
        max-width: 48%;
    }

    .projectPreviewTitle {
        font-size: 1em !important;
    }
}




/*----------------------------------------------------------------------------------------------------
   * Mobile
  ----------------------------------------------------------------------------------------------------*/

/*-------------------*/
@media only screen and (max-width: 950px) {
    .projectHeader h1 {
        font-size: 1.5em;
        padding: 0 5px;
    }

    .projectCategory h4 {
        font-size: 28px;
    }

    .projectList h4 {
        font-size: 32px;
    }

    .projectItem h4:first-child {
        font-size: 24px !important;
    }

    .projectPreviews {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .projectPreviews img,
    .projectPreviews video {
        width: 100% !important;
        margin-bottom: 25px;
    }

    .projectPreview img,
    .projectPreview video {
        height: auto;
        width: 100%;
    }

    .projectItem .modelsPrev {
        margin-bottom: 0;
    }

    .projectItem .drawingPrev {
        margin-bottom: -50px;
    }

    .drawingPrev img {
        width: 100% !important;
    }

    .drawingPrev p {
        width: 100%;
    }

    .modelsPrev video {
        width: 100%;
        border-radius: 5px;
    }

    .projectPreviewTitle {
        font-size: 20px !important;
    }

    #mockups img {
        width: 100%;
        height: 100%;
    }
}